:root {
    /* Set the colors */
    --color-text: #FFF;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* Set the fonts */
    --font-roboto: "Roboto"
}